<hr>
<iframe width="100%" height="477" id="map"
        src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
</iframe>
<h2>Contact us</h2>
<div class="contact-container">
  <form action="">
    <div class="form-group">
      <label for="first-name">Name</label>
      <input type="text" class="single-input" name="first-name" id="first-name">
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="email" class="single-input" name="email" id="email">
    </div>
    <div class="form-group">
      <label for="name">Subject</label>
      <input type="text" class="single-input" name="subject" id="subject">
    </div>

    <div class="form-group textarea-wrapper">
      <label for="contact-text">Message</label>
      <textarea id="contact-text" name="contact-text" cols="30" rows="10"></textarea>
    </div>

    <div class="sumbit-btn-wrapper" style="display: flex; justify-content: flex-end;">
      <button type="submit">Submit</button>
    </div>
  </form>

  <div class="contact-info">
    <div class="contact-text">
      <p>120 Lorem ipsum dolor sit amet, <br> consectetur adipiscing 10550</p>
      <p>Tel: 060-070-0980 <br>
        Email: info@company.com</p>
      <p>
        Maecenas eu mi eu dui cursus consequat non eu metus. Morbi ac turpis eleifend,
        commodo purus eget, commodo mauris.
      </p>
    </div>
    <ul class="social-link-menu-wrapper" style="width: 260px;">
      <a rel="nofollow" href="/" class="sl-item color-link-invert">
        <li><i class="fab fa-facebook tm-social-icon"></i></li>
      </a>
      <a href="/" class="sl-item color-link-invert">
        <li><i class="fab fa-twitter tm-social-icon"></i></li>
      </a>
      <a href="/" class="sl-item color-link-invert">
        <li><i class="fab fa-instagram tm-social-icon"></i></li>
      </a>
      <a href="/" class="sl-item color-link-invert">
        <li><i class="fab fa-linkedin tm-social-icon"></i></li>
      </a>
    </ul>
  </div>
</div>
