@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Medium.ttf);
}

body
{
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}

th, .container-row-1 span, td span, .spec-cell span, .spec-header { color: darkgray; }


.profile-data h1
{
  margin-bottom: 0px;
}

.container
{
  margin-top: 100px;
  /*padding: 0 40px;*/
}

.container-inner
{
  width: 1200px;
  margin: 0 auto;
}

.profile-info
{
  display: flex;
  margin-bottom: 20px;
}

.profile-image
{
  padding: 0 20px;
}
.profile-data
{
  padding: 0 20px;
}
.user-name h1 { font-weight: bold; font-size: 30px; margin-bottom: 3px; }
.user-activity h2 { color: orange; }
.user-describe
{
  padding: 12px 0;
  line-height: 2;
}

.profile-image img
{
  margin: 0 auto;
}

.container-row-1
{
  display: flex;
  margin-top: 20px;
}

.container-row-1 h4
{
  margin-bottom: 0px;
  font-weight: bold;
}

.container-row-1 > div
{
  flex-grow: 1;
  padding: 0 5px;
}

.social-links
{
  /*margin-left: 300px;*/
}
.social-links ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-links li
{
  display: inline-block;
}
.social-links ul li
{
  padding: 0 2px;
}

.detail-info-table th, td
{
  text-align: start;
  padding: 10px;
  width: 200px;
}
.detail-info-table { border-spacing: 0 50px; }
.detail-info-table h3
{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

.detail-info-table
{
  margin: 0 auto;
  margin-top: 50px;
}




.user-spec-detail { display: flex; width: 1100px; margin: 0 auto; }
.spec-header { width: 200px; padding-top: 20px; padding-left: 10px; font-weight: bold; }
.spec-cell { padding: 15px; }
.spec-cell h5 { font-weight: bold; font-size: 13px; }
@media screen and (max-width: 1480px) {

  .container-inner {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .user-spec-detail {
    width: 100%;
  }

  .container-inner {
    width: 100%;
  }

  .profile-info
  {
    display: block;
  }

  .profile-image img
  {
    display: block;
    margin: 40px auto;
  }
  .profile-info h1, h2
  {
    text-align: center;
  }
  .social-links { margin: 0 }

  .social-links > ul
  {
    display: inline-block;
    margin: 30px auto;
  }
  .user-spec-detail
  {
    display: block;
    width: 650px;
    margin: 0 auto;
  }
  .spec-header { padding: 20px 0; }
}


@media screen and (max-width: 620px) {

  .user-spec-detail
  {
    width: 100%;
    margin: 0;
  }
}
