<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"> -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./style.css" type="text/css"> 
   
</head>
<body>
    
    <nav class="side-nav ">
        <div class="nav-inner">
            <div style="color: white; margin-top: 100px; font-size: 25px;">
                <div style="font-size: 80px; display: flex; justify-content: center;">
                    <i class="fas fa-times-circle"></i>
                </div>
                <h1 align="center">Xtra Blog</h1> 
            </div> 
            <ul class="side-menu"> 
                <li class="sm-item active-menu-item">
                    <a href="/index.html">
                        <i class="fas fa-home"></i>
                        <span>Blog Home</span>
                        <div class="border-shadow-white"></div>
                    </a>
                </li>
               
                <li class="sm-item"> 
                    <a href="./single-post.html">
                        <i class="fas fa-pen"></i>
                        <span>Single Post</span>
                        <div class="border-shadow-white"></div> 
                    </a>
                </li>
                <li class="sm-item">
                    <a href="/about.html">
                        <i class="fas fa-home"></i>
                        <span>About Xtra</span>
                        <div class="border-shadow-white"></div>
                    </a>
                  
                </li>
                <li class="sm-item">
                    <a href="/contacts.html">
                        <i class="far fa-comments"></i>
                        <span>Contact Us</span>
                        <div class="border-shadow-white"></div>
                    </a>
                
                </li>
            </ul>
            <ul class="social-link-menu-wrapper">
                <a rel="nofollow" href="/" class="sl-item">
                    <li><i class="fab fa-facebook tm-social-icon"></i></li>
                </a>
                <a href="/" class="sl-item">
                    <li><i class="fab fa-twitter tm-social-icon"></i></li>
                </a>
                <a href="/" class="sl-item">
                    <li><i class="fab fa-instagram tm-social-icon"></i></li>
                </a>
                <a href="/" class="sl-item">
                    <li><i class="fab fa-linkedin tm-social-icon"></i></li>
                </a>
            </ul>
            
            <div style="padding: 40px 40px; margin-top: 30px; color: white; font-size: 20px; line-height: 2; font-weight: bolder;">    
                Xtra Blog is a multi-purpose HTML template from TemplateMo website. 
                Left side is a sticky menu bar. Right side content will scroll up and down.
            </div>
        </div>
        <button type="button" id="burger">
            <i class="fas fa-bars"></i>
        </button>
    </nav>
    <main>
        <div class="container">
            <div class="container-inner">
                <div class="search-container">
                    <form action="sdgfsdg" method="get">
                        <input class="search-input" type="text" value="" placeholder="Search...">
                        <button type="button" id="search-btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="cards-container">
                    <div class="card-row">
                        <div class="card"> 
                            <hr>
                            <div class="wrapper"> 
                                <span class="new-label">
                                    New
                                </span>
                                <a href="./single-post.html">
                                    <div class="img-wrapper">
                                        <img src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/img-01.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <h2 class="blue-label">Simple and useful HTML layout</h2>
                            <p class="gray-label">There is a clickable image with beautiful hover effect and active title link for each post 
                                item. Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.</p>

                            <div class="card-bottom-info blue-label">
                                <span>Travel . Events</span>
                                <span>June 24, 2020</span>
                            </div>
                            <hr>
                            <div class="card-bottom-info gray-label">
                                <span>36 comments</span>
                                <span>by Admin Nat</span>
                            </div>
                        </div> 
                        <div class="card">
                            <hr>
                            <div class="wrapper">
                                <span class="new-label">
                                    New
                                </span>
                                <a href="./single-post.html">
                                    <div class="img-wrapper">
                                        <img src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/img-01.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <h2 class="blue-label">Simple and useful HTML layout</h2>
                            <p class="gray-label">There is a clickable image with beautiful hover effect and active title link for each post 
                                item. Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.</p>

                            <div class="card-bottom-info blue-label">
                                <span>Travel . Events</span>
                                <span>June 24, 2020</span>
                            </div>
                            <hr>
                            <div class="card-bottom-info gray-label">
                                <span>36 comments</span>
                                <span>by Admin Nat</span>
                            </div>
                        </div>  
                    </div>
                    <div class="card-row">
                        <div class="card">
                            <hr>
                            <div class="wrapper">
                                <span class="new-label">
                                    New
                                </span>
                                <a href="./single-post.html">
                                    <div class="img-wrapper">
                                        <img src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/img-01.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <h2 class="blue-label">Simple and useful HTML layout</h2>
                            <p class="gray-label">There is a clickable image with beautiful hover effect and active title link for each post 
                                item. Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.</p>

                            <div class="card-bottom-info blue-label">
                                <span>Travel . Events</span>
                                <span>June 24, 2020</span>
                            </div>
                            <hr>
                            <div class="card-bottom-info gray-label">
                                <span>36 comments</span>
                                <span>by Admin Nat</span>
                            </div>
                        </div> 
                        <div class="card">
                            <hr>
                            <div class="wrapper">
                                <span class="new-label">
                                    New
                                </span>
                                <a href="./single-post.html">
                                    <div class="img-wrapper">
                                        <img src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/img-01.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <h2 class="blue-label">Simple and useful HTML layout</h2>
                            <p class="gray-label">There is a clickable image with beautiful hover effect and active title link for each post 
                                item. Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.</p>

                            <div class="card-bottom-info blue-label">
                                <span>Travel . Events</span>
                                <span>June 24, 2020</span>
                            </div>
                            <hr>
                            <div class="card-bottom-info gray-label">
                                <span>36 comments</span>
                                <span>by Admin Nat</span>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="paginaton-container">
                    <div class="page-main-btn-container">
                        <a class="prev-btn btn-disable" href="/">Prev</a>
                        <a class="next-btn btn-active" href="/">Next</a> 
                    </div>
                    <div class="pagination-list">
                        <span>Page</span>
                        <ul>
                            <li class="btn-active">1</li>
                            <li>2</li> 
                            <li>3</li>
                            <li>4</li>
                        </ul>
                    </div>
                </div>
                <div class="copyright-conainer">
                    <span>
                        Design: <a href="/">Lorem.</a>
                    </span>
                    <span>
                        
                    Copyright 2020 Lorem Lorem Company Co. Ltd.
                    </span>
                </div>
            </div>
        </div>
    </main>
   <script src="./script.js"></script>
</body>
</html>