<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"> -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./style.css" type="text/css"> 
   
</head>
<body>
    
    <nav class="side-nav ">
        <div class="nav-inner">
            <div style="color: white; margin-top: 100px; font-size: 25px;">
                <div style="font-size: 80px; display: flex; justify-content: center;">
                    <i class="fas fa-times-circle"></i>
                </div>
                <h1 align="center">Xtra Blog</h1> 
            </div> 
            <ul class="side-menu"> 
                <li class="sm-item">
                    <a href="/index.html">
                        <i class="fas fa-home"></i>
                        <span>Blog Home</span>
                        <div class="border-shadow-white"></div>
                    </a>
                </li>
               
                <li class="sm-item active-menu-item"> 
                    <a href="./single-post.html">
                        <i class="fas fa-pen"></i>
                        <span>Single Post</span>
                        <div class="border-shadow-white"></div> 
                    </a>
                </li>
                <li class="sm-item">
                    <a href="/about.html">
                        <i class="fas fa-home"></i>
                        <span>About Xtra</span>
                        <div class="border-shadow-white"></div>
                    </a>
                  
                </li>
                <li class="sm-item">
                    <a href="/contacts.html">
                        <i class="far fa-comments"></i>
                        <span>Contact Us</span>
                        <div class="border-shadow-white"></div>
                    </a>
                
                </li>
            </ul>
            <ul class="social-link-menu-wrapper">
                <a rel="nofollow" href="/" class="sl-item">
                    <li><i class="fab fa-facebook tm-social-icon"></i></li>
                </a>
                <a href="/" class="sl-item">
                    <li><i class="fab fa-twitter tm-social-icon"></i></li>
                </a>
                <a href="/" class="sl-item">
                    <li><i class="fab fa-instagram tm-social-icon"></i></li>
                </a>
                <a href="/" class="sl-item">
                    <li><i class="fab fa-linkedin tm-social-icon"></i></li>
                </a>
            </ul>
            
            <div style="padding: 40px 40px; margin-top: 30px; color: white; font-size: 20px; line-height: 2; font-weight: bolder;">    
                Xtra Blog is a multi-purpose HTML template from TemplateMo website. 
                Left side is a sticky menu bar. Right side content will scroll up and down.
            </div>
        </div>
        <button type="button" id="burger">
            <i class="fas fa-bars"></i>
        </button>
    </nav>

    <main>
        <div class="container">
            <div class="container-inner">
                <div class="search-container">
                    <form action="sdgfsdg" method="get">
                        <input class="search-input" type="text" value="" placeholder="Search...">
                        <button type="button" id="search-btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                <br>
                <hr>

                <video controls="" class="video-conteiner">
                    <source src="video/wheat-field.mp4" type="video/mp4">							  
                    Your browser does not support the video tag.
                </video>

                <div class="post-content">
                    <div class="main-content">
                        <h2>Single Post of Xtra Blog HTML Template</h2>
                        <p>June 16, 2020 posted by Admin Nat</p>
                        <p>
                            This is a description of the video post. You can also have an 
                            image instead of the video. You can free download <a class="text-link" href="./index.html">Xtra Blog Template</a> from TemplateMo website.
                            Phasellus maximus quis est sit amet maximus.
                            Vestibulum vel rutrum lorem, ac sodales augue. Aliquam erat volutpat. 
                            Duis lectus orci, blandit in arcu est, elementum tincidunt lectus. 
                            Praesent vel justo tempor, varius lacus a, pharetra lacus.
                            Duis pretium efficitur nunc. Mauris vehicula nibh nisi.
                            Curabitur gravida neque dignissim, aliquet nulla sed, 
                            condimentum nulla. Pellentesque id venenatis quam, id cursus velit.
                            Fusce semper tortor ac metus iaculis varius. 
                            Praesent aliquam ex vel lectus ornare tristique. Nunc et eros quis enim 
                            feugiat tincidunt et vitae dui.
                        </p>
                        <p class="create-by">
                            <span>Creative . Design . Business</span>
                        </p>
                        <div class="comments-section">
                            <h1>Comments</h1> 
                            <hr>
                            <div class="comment-wrapper">
                                <div class="avatar-wrapper">
                                    <div class="avatar-img-wrapper">
                                        <img src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/comment-1.jpg" alt="">
                                    </div>
                                    <span>Mark Sonny</span> 
                                </div>

                                <div class="comment-content">
                                    <div class="comment-text">
                                        Praesent aliquam ex vel lectus ornare tritique.
                                         Nunc et eros quis enim feugiat tincidunt et vitae dui.
                                          Nullam consectetur justo ac ex laoreet rhoncus. 
                                        Nunc id leo pretium, faucibus sapien vel, euismod turpis.
                                    </div>
                                    <div class="comm-bottom">
                                        <span>REPLY</span>
                                        <span>June 14, 2020</span>
                                    </div>
                                </div>
                            </div> 
                            <hr class="simple-hr"> 
                            <div class="comment-wrapper comm-reply">
                               
                                <div class="avatar-wrapper">
                                    <div class="avatar-img-wrapper">
                                        <img src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/comment-1.jpg" alt="">
                                    </div>
                                    <span>Mark Sonny</span> 
                                </div>
                                
                                <div class="comment-content">
                                    <div class="comment-text">
                                        Praesent aliquam ex vel lectus ornare tritique.
                                         Nunc et eros quis enim feugiat tincidunt et vitae dui.
                                          Nullam consectetur justo ac ex laoreet rhoncus. 
                                        Nunc id leo pretium, faucibus sapien vel, euismod turpis.
                                    </div>
                                    <div class="comm-bottom">
                                        <!-- <span>REPLY</span> -->
                                        <span>June 14, 2020</span>
                                    </div>
                                </div>
                            </div>
                            <form class="comment-form" action="">
                                <h1>Your comment</h1>
                                <input type="text" class="single-input" name="first-name">
                                <input type="text" class="single-input" name="last-name">
                                <textarea name="comment-text" cols="30" rows="10"></textarea>
                                <div class="sumbit-btn-wrapper" style="display: flex; justify-content: flex-end;">
                                    <button type="submit">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="side-content">
                        <hr>
                        <h1>Categories</h1>
                        <ul class="cat-list">
                            <li>Visual Design</li>
                            <li>Travel Evemnts</li>
                            <li>Web Development</li>
                            <li>Video and Audio</li>
                            <li>Etiam auctor ac arcu</li>
                            <li>Sed im justo diam</li> 
                        </ul>
                        <hr>
                        <h1>Related Post</h1>

                        <div class="rel-post">
                            <div class="rel-post-img-wrapper">
                                <img src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/img-02.jpg" alt="">
                            </div>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, fugit.</p>
                        </div>
                        <div class="rel-post">
                            <div class="rel-post-img-wrapper">
                                <img src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/img-02.jpg" alt="">
                            </div>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, fugit.</p>
                        </div>
                        <div class="rel-post">
                            <div class="rel-post-img-wrapper">
                                <img src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/img-02.jpg" alt="">
                            </div>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, fugit.</p>
                        </div>
                        
                    </div>
                </div>

                <div class="copyright-conainer">
                    <span>
                        Design: <a href="/">Lorem.</a>
                    </span>
                    <span>
                        
                    Copyright 2020 Lorem Lorem Company Co. Ltd.
                    </span>
                </div>
            </div>

        </div>
    </main>
    <script src="./script.js"></script>
</body>
</html>