
<app-sidebar></app-sidebar>
<main>
  <div class="container">
    <div class="container-inner">
      <div class="search-container">
        <form action="sdgfsdg" method="get">
          <input class="search-input" type="text" value="" placeholder="Search...">
          <button type="button" id="search-btn">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>

      <router-outlet></router-outlet>

      <div class="copyright-conainer">
          <span>
              Design: <a href="/">Lorem.</a>
          </span>
        <span>
          Copyright 2020 Lorem Lorem Company Co. Ltd.
          </span>
      </div>
    </div>
  </div>
</main>
