
<div class="cards-container">
  <div class="card-row">
    <div class="card">
      <hr>
      <div class="wrapper">
                                <span class="new-label">
                                    New
                                </span>
        <a href="./single-post.html">
          <div class="img-wrapper">
            <img src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/img-01.jpg" alt="">
          </div>
        </a>
      </div>
      <h2 class="blue-label">Simple and useful HTML layout</h2>
      <p class="gray-label">There is a clickable image with beautiful hover effect and active title link for each post
        item. Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.</p>

      <div class="card-bottom-info blue-label">
        <span>Travel . Events</span>
        <span>June 24, 2020</span>
      </div>
      <hr>
      <div class="card-bottom-info gray-label">
        <span>36 comments</span>
        <span>by Admin Nat</span>
      </div>
    </div>
    <div class="card">
      <hr>
      <div class="wrapper">
                                <span class="new-label">
                                    New
                                </span>
        <a href="./single-post.html">
          <div class="img-wrapper">
            <img src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/img-01.jpg" alt="">
          </div>
        </a>
      </div>
      <h2 class="blue-label">Simple and useful HTML layout</h2>
      <p class="gray-label">There is a clickable image with beautiful hover effect and active title link for each post
        item. Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.</p>

      <div class="card-bottom-info blue-label">
        <span>Travel . Events</span>
        <span>June 24, 2020</span>
      </div>
      <hr>
      <div class="card-bottom-info gray-label">
        <span>36 comments</span>
        <span>by Admin Nat</span>
      </div>
    </div>
  </div>
  <div class="card-row">
    <div class="card">
      <hr>
      <div class="wrapper">
                                <span class="new-label">
                                    New
                                </span>
        <a href="./single-post.html">
          <div class="img-wrapper">
            <img src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/img-01.jpg" alt="">
          </div>
        </a>
      </div>
      <h2 class="blue-label">Simple and useful HTML layout</h2>
      <p class="gray-label">There is a clickable image with beautiful hover effect and active title link for each post
        item. Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.</p>

      <div class="card-bottom-info blue-label">
        <span>Travel . Events</span>
        <span>June 24, 2020</span>
      </div>
      <hr>
      <div class="card-bottom-info gray-label">
        <span>36 comments</span>
        <span>by Admin Nat</span>
      </div>
    </div>
    <div class="card">
      <hr>
      <div class="wrapper">
                                <span class="new-label">
                                    New
                                </span>
        <a href="./single-post.html">
          <div class="img-wrapper">
            <img src="https://templatemo.com/templates/templatemo_553_xtra_blog/img/img-01.jpg" alt="">
          </div>
        </a>
      </div>
      <h2 class="blue-label">Simple and useful HTML layout</h2>
      <p class="gray-label">There is a clickable image with beautiful hover effect and active title link for each post
        item. Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.</p>

      <div class="card-bottom-info blue-label">
        <span>Travel . Events</span>
        <span>June 24, 2020</span>
      </div>
      <hr>
      <div class="card-bottom-info gray-label">
        <span>36 comments</span>
        <span>by Admin Nat</span>
      </div>
    </div>
  </div>
</div>
<div class="paginaton-container">
  <div class="page-main-btn-container">
    <a class="prev-btn btn-disable" href="/">Prev</a>
    <a class="next-btn btn-active" href="/">Next</a>
  </div>
  <div class="pagination-list">
    <span>Page</span>
    <ul>
      <li class="btn-active">1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
    </ul>
  </div>
</div>
